.mainContext{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardAboutContext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 75%;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 32px;
    box-shadow: 0 0 5px rgb(177, 175, 175);
}

.imagem1{
    width: 25rem;
    margin: 1rem;
}

.imagem2{
    width: 15rem;
}

.listContext{
    list-style-type:disc;
}

.paragraph1Context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph2Context{
    display: flex;
    flex-direction: space-between;
    justify-content: center;
    align-items: center;
}

.cardAboutTitle {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.cardAboutSubtitle {
    font-size: 32px;
    margin: 1rem;
    font-weight: normal;
    text-align: start;
}

.cardAboutSubtitle3{
    font-size: 20px;
    font-weight: normal;
    text-align: start;
    margin-bottom: .5rem;
}

.cardAboutTextP {
    margin: .5rem;
    font-size: 15px;
    text-align: justify;
}

.cardAboutImg{
    margin-top: 16px;
    width: 50%;
}