{
    "extends": [
      "eslint:recommended",
      "plugin:import/errors",
      "plugin:react/recommended",
      "plugin:jsx-a11y/recommended",
      "plugin:react-hooks/recommended",
      "prettier"
    ],
    "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      "react/prop-types": "off",
      "react/jsx-uses-react": "off",
      "react/react-in-jsx-scope": "off",
      "react/self-closing-comp": "warn",
      "no-unused-vars": "off",
      "import/no-unresolved": "off"
    },
    "plugins": [
      "react",
      "import",
      "jsx-a11y"
    ],
    "env": {
      "es6": true,
      "browser": true,
      "jest": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }