.holderButton {
    display: flex !important;
    gap: 5px !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 5px !important;
}
.dashButton {
    background-color: transparent;
    padding: 5px; /* Reduzido para metade */
    border-radius: 5px;
}

.dashButton:hover {
    cursor: pointer;
}

.dashboardWrapper {
    display: flex;
    flex-direction: column;
    height: 50vh; /* Reduzido para metade */
    width: 50vw; /* Reduzido para metade */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid black;
}

.dashboardDataWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px; /* Reduzido para metade */
}

.dashboardData {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px; /* Reduzido para metade */
}

.dashboardData h1 {
    font-size: 11px; /* Reduzido para metade */
    font-weight: bold;
}

.dashboardData p {
    font-size: 9px; /* Reduzido para metade */
}

.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%; /* Ajustado para caber na metade do contêiner pai */
}

.dashboardContainer {
    display: flex;
    max-width: 50vw; /* Reduzido para metade */
    height: 50vh; /* Reduzido para metade */
}

.dashboardText {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    font-size: 10px; /* Reduzido para metade */
    font-weight: 400; /* Ajustado para ser proporcional */
    height: 50%; /* Reduzido para metade */
    padding: 5px; /* Reduzido para metade */
}

.selector {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 10px; 
    width: 100px;
}

.chart {
    width: 70%;
    display: flex;
}

.graphics {
    display: flex;
    flex-direction: column;
}

.monthsCharts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}