:root {
  /*Acrescentar cores e fontes padrão*/
  --branco: #fff;
  --background: #f9f9f9;
  --texto: #363636;
  --brancoTexto: #EFEFEF;
  --azulMedio: #3d5e73;
  --azulEscuro: #0E2430;
  --link: #1465E0;
  --cinza: #474747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'IBM Plex Serif', serif;
  color: var(--texto);
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
}

main {
  margin: 0 240px;
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1300px) {
  main {
    margin: 26px 20%;
  }
}

@media (max-width: 900px) {
  main {
    margin: 26px 32px;
  }
}

@media (max-width: 720px){
  body {
    background-color: var(--branco);
  }
}
