.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.licitacoesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 100%;
  overflow: scroll;
}

.licitacoesHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.linkLicitacoes {
  font-size: 19;
  color: (--link);
}

