.radioButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.4em;
  flex: 1;
}

/* Radio Input */
.radioButton span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: #ddd;
  position: relative;
  transition: 0.3s;
}

.radioButton span::before {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(0);
}

.radioButton input {
  display: none;
}

.radioButton input:checked ~ span {
  background-color: var(--texto);
}

.radioButton input:checked ~ span::before {
  transform: scale(1);
}
