.campoPesquisaWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 56px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.campoPesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid var(--texto);
  padding-bottom: 12px;
  flex: 1;
  gap: 24px;
  min-width: 80%;
}

.searchIcon {
  width: 30px;
}

.inputStyle {
  background-color: var(--background);
  color: (--texto);
  font-style: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 23px;
  border: none;
  outline: none;
  width: 100%;
}

.inputStyle:focus {
  border: none;
  outline: none;
}
