li{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}
.cardAboutUsPhotoContextEstilizadaPar{
    order: 1;
    text-align: center;
}
.cardAboutUsPhotoContextEstilizadaImpar{
    order: -1;
    text-align: center;
}
.name{
        font-size: 28px;
        font-weight: 600;
}
.desc{
    font-size: 20px;
    text-align: justify;      
}
.cardAboutUsPhotoContextEstilizada{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardAboutUsPhotoEstilizado{
    margin-bottom: 16px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: drop-shadow(-5px 6px 6px gray);
    display: block; 
    margin: 0 auto;
}

@media (max-width: 1500px) {
    .desc{
      font-size: 16px;
      text-align: justify;
    }
    .cardAboutUsPhotoEstilizado {
        width: 220px;
        height: 220px;
    }
  }

  @media (max-width: 800px) {
    li{
        flex-direction: column-reverse;
    }
    .cardAboutUsPhotoContextEstilizadaImpar{
        order: 1;
    }
  }
.githubLinkContainer {
  margin-top: 10px; /* Espaço entre a imagem e o link */
}

.githubLinkContainer a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
}