.campoPesquisaWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 80px;
  margin-bottom: 40px;
}

.campoPesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid var(--texto);
  padding-bottom: 12px;
  flex: 1;
  gap: 24px;
}

.searchIcon {
  width: 30px;
}

.inputStyle {
  background-color: var(--background);
  color: (--texto);
  font-style: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 23px;
  border: none;
  outline: none;
  width: 100%;
}

.inputStyle:focus {
  border: none;
  outline: none;
}

.botaoBuscar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--texto);
  text-decoration: none;
  color: var(--brancoTexto);
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  width: 222px;
  height: 32px;
}

.mainSection {
  display: flex;
  flex-direction: column;
  margin: 40px 128px;
}

.licitacoesSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 80%;
}

.botaoCarregarMais {
  height: 2rem;
  width: 70%;
  background-color: var(--cinza);
  color: var(--brancoTexto);
  border: 0rem;
  font-family: 'IBM Plex Sans', sans-serif;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, .25);
  font-size: 1rem;

}
