/* Estilo Global */
.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--branco);
}

.headerUnb {
  display: flex;
  align-items: center;
  height: 35px;
}

.subHeaderWrapper {
  width: 100%;
  background-color: var(--azulMedio);
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--azulMedio);
  padding: 0px 240px;
  height: 48px;
}

.logo {
  padding: 4px 0;
  margin-left: -10px;
}

.logo, .logo img {
  height: 100%;
}

.headerLinksWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.headerLinksWrapperResponsive {
  display: none;
}

.headerLink {
  color: black;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: var(--brancoTexto);
}

.headerListItem {
  list-style-type: none;
}

.campoPesquisa {
  display: flex;
  align-items: center;
  width: 200px;
  background-color: var(--azulEscuro);
  height: 29px;
  gap: 10px;
  padding: 5px 5px;
  border-radius: 3px;
}

.botaoPesquisa{
  background-color: transparent;
  border: 0;
}

.textInput {
  background-color: var(--azulEscuro);
  border: none;
  outline: none;
  color: var(--brancoTexto);
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
}

.textInput:focus{
  border: none;
  outline: none;
}

.responsiveCampoPesquisa {
  display: none;
}

/* Estilos Responsivos */
@media (max-width: 720px) {
  body, html {
    overflow-x: hidden;
  }

  .subHeader {
    justify-content: space-between;
    padding: 0 16px; /* Ajuste para evitar overflow */
  }

  .headerLinksWrapper {
    display: none;
  }

  .campoPesquisa {
    display: none;
  }

  .responsiveCampoPesquisa {
    display: flex;
    gap: 16px;
  }
}

@media (min-width: 720px) and (max-width: 1700px){
  .subHeaderWrapper {
    justify-content: center;
  }

  .headerLinksWrapper {
    display: none;
  }

  .headerLinksWrapperResponsive {
    background-color: var(--azulEscuro);
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 8px 0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
