.cardAboutContext {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-left: 25%;
    margin-top: 72px;
    width: 50%;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 32px;
    box-shadow: 0 0 5px rgb(177, 175, 175);
}

.cardAboutText {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.cardAboutTextP {
    margin-top: 16px;
    font-size: 15px;
    text-align: justify;
}

.cardAboutImg{
    margin-top: 16px;
    width: 50%;
}