.cardWrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  background-color: var(--branco);
  padding: 20px 30px;
  border-radius: 16px;

  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.cardWrapper:nth-child(2n) {
  flex-direction: row-reverse;
  div {
    align-items: flex-end;
    h4, p {
      text-align: right;
    }
  }
}

.articleTitle {
  font-weight: bold;
  font-size: 20px;
  color: var(--azulMedio);
}

.articleText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articleImage {
  height: 100%;
  width: 200px;
  margin: auto 0;
}
