.biddingContainer{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 32px;
    background-color: var(--branco);
    margin: 52px auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.biddingType {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
}

.headingContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
}


.titleContainer {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;
}

.title {
    font-size: 32px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 18px;
}

.biddingInfoContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.biddingInfoElement{
    display: flex;
    gap: 13px;
}

.biddingContainer p {
    font-size: 18px;
}

.horizontalLine {
    border-bottom: 1px solid black; /* Espessura e cor da linha */
    width: 100%; /* Largura da linha */
    margin: 20px 0; /* Espaçamento em torno da linha */
}

.objetoText {
    text-align: justify;
}

.BiddingLink {
    margin-top: 2rem;
    align-self: flex-start;
}

.shareContainer {
    display: flex;
    gap: 16px;
}

@media (max-width: 720px) {
    .biddingContainer {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    .title {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
    }

}

@media (max-width: 1300px) {
    .headingContainer {
        flex-direction: column;
        align-items: center;
    }
}
