.mainContext{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardAboutContext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 75%;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 32px;
    box-shadow: 0 0 5px rgb(177, 175, 175);
}

.cardAboutTitle {
    font-size: 40px;
    margin-left: 0;
    font-weight: normal;
    text-align: center;
}

.cardAboutSubtitle {
    margin-left: 0;
    font-size: 32px;
    margin: 1rem;
    width: 100%;
    font-weight: normal;
    text-align: start;
}

.cardAboutSubtitle3{
    width: 100%;
    font-size: 20px;
    margin-left: 0;
    font-weight: normal;
    text-align: start;
}

.cardAboutTextP {
    width: 100%;
    margin: .5rem;
    margin-left: 0;
    font-size: 15px;
    text-align: justify;
}

.cardAboutImg{
    margin-top: 16px;
    width: 50%;
}

@media(max-width: 1200px){
    .cardAboutTitle {
        font-size: 30px;
        margin-left: 0;
        font-weight: normal;
        text-align: center;
    }
    
    .cardAboutSubtitle {
        margin-left: 0;
        font-size: 24px;
        margin: 1rem;
        font-weight: normal;
        text-align: start;
    }
    
    .cardAboutSubtitle3{
        font-size: 16px;
        margin-left: 0;
        font-weight: normal;
        text-align: start;
    }
    
    .cardAboutTextP {
        margin: .3rem;
        margin-left: 0;
        font-size: 15px;
        text-align: justify;
    }
    .imagem1{
        width: 20rem;
        margin: 1rem;
    }
}

@media(max-width: 800px){
    body{
        background-color: #F9F9F9;
    }
    .mainContext{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 0;
        background-color: #F9F9F9;
    }
    .cardAboutContext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        border: 0;
        margin: 0;
        box-shadow: 0 0 transparent;
        background-color: #F9F9F9;
        
    }
}